

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('/Foodpic.png') no-repeat center center; /* Add background image */
  background-size: cover; /* Cover the entire container */
  overflow: hidden; /* Prevent scrolling */

}

.mainContent {
  position:relative;
  top: -210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgb(246, 246, 246);
  border: 4px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better effect */
  text-align: center;
  z-index: 1; /* Ensure it stays above the background */
}

.mainTitle{
   padding: 2%;
   font-size: 40px;
   color: #333333;
   font-family: 'Kablammo', cursive;
  }

 
.signInButton {
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out; /* Add transition property */
}

.signInButton:hover {
  background-color: #005bb5;
  transform: scale(1.1); /* Add transform property to scale the button */
}


.Description{
  padding: 2%;
  font-size: 50 px;
  color: #3c3c3c;
  font-family: 'Dosis', sans-serif, bold;
}