.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-size: cover; 
  background-attachment: fixed;
}

.contentWrapper {
  display: flex;
  gap: 2rem;
}

.formWrapper {
  width: 400px;
}

.tableWrapper {
  flex-grow: 1;
}
